section.Contact-Us {
  background: linear-gradient(#003049, #000a0f);
  padding: calc(var(--NavBar-Padding-TB) * 6) var(--NavBar-Padding-LR);
}

section.Contact-Us > div.Container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

div.About > *,
div.Links > *,
div.Services-We-Render > *,
div.Contact-Info > * {
  color: var(--White);
}

section.Contact-Us h4 {
  margin-bottom: 30px;
  font-weight: bolder;
}

div.About,
div.Links,
div.Services-We-Render,
div.Contact-Info {
  margin-bottom: 50px;
}

/* 
*************************************************
  ABOUT US
*************************************************
*/
section.Contact-Us p {
  margin-bottom: 50px;
  width: 80%;
}

div.Social-Handles {
  display: flex;
}
div.Social-Handles a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--White);
  margin-right: 10px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-decoration: none;
  text-transform: none;
}

div.Social-Handles a i {
  color: var(--Dark-Blue);
}

div.Social-Handles a i.fi-twitter {
  font-size: 20px;
}
div.Social-Handles a i.fi-facebook {
  font-size: 23px;
}
div.Social-Handles a i.fi-instagram {
  font-size: 21px;
}

div.Social-Handles a:hover {
  background-color: var(--Orange);
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

div.Social-Handles a:hover > i {
  color: var(--White);
}
/* 
****************************************************
  LINKS AND SERVICES WE RENDER
****************************************************
*/

section.Contact-Us div.Links ul,
div.Services-We-Render ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section.Contact-Us div.Links ul li,
div.Services-We-Render ul li {
  line-height: 2.7;
}

section.Contact-Us div.Links ul li a,
div.Services-We-Render ul li a {
  color: var(--White);
  text-decoration: none;
}

section.Contact-Us div.Links ul li a::before,
div.Services-We-Render ul li a::before {
  content: "\e976";
  font-family: "fontisto";
  padding-right: 10px;
}

/* 
****************************************************
  CONTACT INFO
****************************************************
*/
section.Contact-Us div.Contact-Info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section.Contact-Us div.Contact-Info ul li {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}

section.Contact-Us div.Contact-Info ul i {
  margin-right: 10px;
}

/* 
****************************************************
  MEDIA QUERY
****************************************************
*/

@media (max-width: 768px) {
  section.Contact-Us > div.Container {
    grid-template-columns: repeat(2, 1fr);
    padding: var(--NavBar-Padding-TB) calc(var(--NavBar-Padding-LR) / 2);
  }
}

@media (max-width: 485px) {
  section.Contact-Us > div.Container {
    grid-template-columns: repeat(1, 1fr);
    padding: var(--NavBar-Padding-TB) calc(var(--NavBar-Padding-LR) / 4);
  }
}
