header.MainHeader {
  height: 728px;
  margin-bottom: 20px;
}

div.Header-Overlay {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 728px;
  background: linear-gradient(#003049, #000a0f);
  padding: var(--NavBar-Padding-TB) var(--NavBar-Padding-LR);
}

p.Welcome-Msg {
  color: var(--White);
  text-transform: uppercase;
  font-weight: 500;
}

h1.Slogan {
  font-size: 60px;
  color: var(--White);
  font-family: "Gotham Black" !important;
  line-height: 1.4;
  margin-bottom: 25px;
}

span.SloganMaker {
  font-size: 60px;
  font-family: "Gotham Black" !important;
  font-weight: bold;
  color: var(--Orange);
}

p.Intro {
  font-size: 18px;
  color: var(--White);
  font-family: "Gotham" !important;
}

div.ButtonGroup button {
  width: auto;
  height: 50px;
  padding-left: 2rem;
  padding-right: 2rem;
  border: none;
  border-radius: 3px;
  outline: none;
  font-weight: bold;
}

div.ButtonGroup button:first-child {
  background-color: var(--Orange);
  color: var(--White);
  margin-right: 17px;
  box-shadow: 5px 3px 7px rgba(0, 48, 73, 0.1);
}

div.ButtonGroup button:first-child:hover {
  background-color: var(--Orange);
}

@media (max-width: 800px) {
  body {
    overflow: hidden !important;
  }
  div.HeaderRight {
    display: none;
  }

  div.ButtonGroup {
    display: none;
  }

  div.Header-Overlay {
    padding: var(--NavBar-Padding-TB) calc(var(--NavBar-Padding-LR) / 2);
  }

  div.col-md-6 {
    padding: 0 !important;
  }
}
