div.OurMembers {
  height: auto;
  background-color: rgba(234, 226, 183, 0.1);
  padding: 3.75rem 1rem;
}

div.OurMembers h2 {
  font-size: 2.8125rem;
  color: #003049;
  font-family: "Gotham Black";
  line-height: 1.4;
  margin-bottom: 2.125rem;
  text-align: center;
}

div.OurMembersGrid {
  display: grid;
  grid-template-columns: 25rem 25rem;
  gap: 4.375rem 0.625rem;
  justify-content: space-evenly;
}

div.Member {
  width: auto;
  display: flex;
}

div.MemberDetails {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

div.MemberIntro {
  display: flex;
  flex-direction: column;
}

div.MemberIntro span:first-child {
  font-size: 1.5625rem;
  font-weight: bold;
  color: #003049;
}

div.MemberIntro span:last-child {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(0, 48, 73, 0.5);
}

div.Member > img {
  width: 8.875rem;
  height: 8.875rem;
  border-radius: 50%;
  box-shadow: -15px 25px 20px rgba(0, 48, 73, 0.1);
  margin-right: 2.5rem;
}

div.SocialMediaHandles img {
  width: 1.575rem;
  margin-right: 0.3125rem;
}

@media (max-width: 900px) {
  div.OurMembersGrid {
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 0;
  }

  div.Member {
    width: 100%;
  }

  div.Member > img {
    width: 8.25rem;
    height: 8.25rem;
    margin-right: 1.25rem;
  }

  div.OurMembers {
    padding: 3.75rem 1rem;
  }
}

@media (max-width: 760px) {
  div.OurMembersGrid {
    grid-template-columns: 1fr;
    gap: 2.5rem 0;
  }

  div.OurMembers {
    padding: 3.125rem 4rem;
  }
}

@media (max-width: 480px) {
  div.Member > img {
    width: 7.625rem;
    height: 7.625rem;
    border-radius: 50%;
    box-shadow: -15px 25px 20px rgba(0, 48, 73, 0.1);
    margin-right: 1.25rem;
  }

  div.OurMembers {
    padding: 3rem 1rem;
  }
}
