div.OurServices {
  width: 100vw;
  height: 600px;
  background: linear-gradient(#003049, #000a0f);
  display: block;
  margin-bottom: 70px;
  padding: 50px 0;
}

div.OurServices h2 {
  font-size: 2.8125rem;
  color: var(--Orange);
  font-family: "Gotham Black";
  line-height: 1.4;
  text-align: center;
}

div.ServicesGrid {
  padding: 3.125rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div.Service {
  width: 20.625rem;
  height: max-content;
  padding: 0.9375rem calc(0.9375rem * 2);
  margin: 0.9375rem;
  background-color: var(--White);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--Dark-Blue);
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

div.Service:hover {
  background-color: var(--Orange);
  color: var(--White);
}

div.Service:hover span {
  color: var(--White);
}

div.Service span {
  text-transform: uppercase;
  text-align: right;
  font-weight: bold;
  font-size: 35px;
  color: #e1e1e1;
}
@media (max-width: 896px) {
  div.OurServices {
    height: max-content;
  }

  div.ServicesGrid {
    flex-direction: column;
    padding: calc(3.125rem / 2);
  }

  div.Service {
    width: 100%;
    height: max-content;
  }
}
