div.Why-Us {
  height: 525px;
  margin: auto;
  border-radius: 25px;
  padding: 40px;
}

h1.Why-Us-Header {
  font-size: 45px;
  font-family: "Gotham Black";
  color: var(--Orange);
  text-align: center;
}
