div.FilterContainer {
    display: flex;
    justify-content: space-around;
}

input.SearchFilterInput {
    margin: auto;
    width: 357px;
    min-width: 100%;
    height: calc(2em + 0.75rem + 2px);
}