footer.Xyshma-Footer {
  text-align: center;
}

footer.Xyshma-Footer > p {
  margin-bottom: 0;
  color: var(--Dark-Blue);
  font-weight: bold;
  padding: calc(var(--NavBar-Padding-TB) * 2) calc(var(--NavBar-Padding-LR) / 2);
}
